<%
	include header 
	var settings = JSON.parse( locals.user.auth.settings );
%>

<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
		  		<div class="col-sm-6">
					<h1>Accueil</h1>
		  		</div>
		  		<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
			  			<li class="breadcrumb-item active">Accueil</li>
					</ol>
		  		</div>
			</div>
	  	</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">


		<% if( user.isLogin() ){ %> 
		<div class="row">
			<div class="offset-lg-4 col-lg-4 col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3><%= locals.config.globalConfig.alertLevel %></h3>

						<p>Niveau D'alerte</p>
					</div>
					<div class="icon">
						<i class="fas fa-exclamation-circle"></i>
					</div>
					<a href="#" class="small-box-footer">
					Tout les niveaux d'alerte <i class="fas fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-broadcast-tower"></i>
							Liste des fréquences radios
						</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-info elevation-1"><i class="fas fa-broadcast-tower"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Longue</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.longue %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-warning elevation-1"><i class="fas fa-broadcast-tower"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Longue secours</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.longueSec %> Mhz</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Courte Caserne</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.caserne %> Mhz</span>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Courte hors caserne</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.exer %> Mhz</span>
									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Courte de secours 1</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.sec1 %> Mhz</span>
									</div>
								</div>
							</div>

							<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-white elevation-1"><i class="fas fa-wave-square"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Fréquence Courte de secours 2</span>
										<span class="info-box-number"><%= locals.config.globalConfig.radio.sec2 %> Mhz</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<% } else { %>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-exclamation-triangle"></i>
							INTRANET DE L'ARMEE DE TERRE
						</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p><strong>Bienvenue sur l'intranet</strong></p>
						<p>L'intranet est le logiciel de gestion de l'armée de terre.</br>
						L'accès à l'intranet est protégé, veuillez donc vous connecter avant de continuer.</p>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="/assets/img/84.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="/assets/img/90.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="/assets/img/93.jpg" alt="Third slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="/assets/img/99.jpg" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Précédent</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Suivant</span>
					</a>
				</div>
			</div>
		</div>
		<% } %>
	</section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

	const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
	});
	
  });
</script>

<% include footer %>