<% include header %>

<% var settings = JSON.parse( user.auth.settings ); %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Code pénal</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Code pénal</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <% if( settings.perms.manageCode.addCode ){%>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">AJOUTER UNE LOI</span>
                        <a href="#" data-toggle="modal" data-target="#addlaw" class="btn btn-success btn-sm btn-block" role="button">
                            <i class="fas fa-plus-circle"></i> Ajouter 
                        </a>
                    </div>
                </div>
            </div>
        <% } %>

	    <% for( var k in locals.config.codetype ){
	        var tbl = locals.config.codetype[k];
	    %>
			<div class="col-md-12">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<%= tbl %>
						</h3>
					</div>
					<div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th style="width: 50px">Amende</th>
                                    <th style="width: 200px">Sanctions</th>
                                    <th style="width: 20px">OPJ</th>
                                </tr>
                            </thead>
                            <tbody>



                                <% for( var v in locals.code ){
                                    var tble = locals.code[v]; 
                                    if(tble.code_type == k){%>
                                        <tr>
                                            <td><%= tble.code_name %></td>
                                            <td><%= tble.code_amende %></td>
                                            <td>
                                                <%
                                                    var sanctions = tble.code_sanction.split(",");
                                                    for( var x in sanctions){
                                                        var sanction = sanctions[x];%>
                                                        <span class="badge badge-primary"><%= sanction %></span>
                                                    <%}

                                                %>
                                            </td>
                                            <td>
                                                <%if (tble.code_OPJ){%>
                                                    <span class="badge bg-danger">OUI</span>
                                                <%}else{%>
                                                    <span class="badge bg-success">NON</span>
                                                <%}%>
                                            </td>
                                        </tr>
                                    <%}
                                }
                                %>
                                
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
     	<%}%>

    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('code')
    });
</script>  

<% include footer %>