<% include header %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Règlement de l'institution</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Règlement de l'institution</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <center><img style="width: 300px;" src="/assets/img/gn.png"></center>
          <br><br>
          <div class="text-center" style="text-align: center;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 150%; line-height: 116%;"><strong><span style="color: #000000;">Partie 1: Recrutement:</span></strong></span></span></div>
<p><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;1:</strong> </span><span style="color: #000000;">Les candidatures se font exclusivement sur le forum du serveur.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;2:</strong> </span><span style="color: #000000;">Le recrutement est assur&eacute; par des officiers et uniquement par des officiers.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;3:</strong> </span><span style="color: #000000;">Le one-shot est permis, mais dois rester tr&egrave;s exceptionnel. La majorit&eacute; de votre temps doit &ecirc;tre d&eacute;di&eacute; &agrave; la faction.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;4:</strong> </span><span style="color: #000000;">Le nom que vous utilisez pour votre candidature est le seul que vous utiliserez dans l&rsquo;institution. Pour un changement, merci de nous consulter.</span></span><br />&nbsp;</p>
<div class="text-center" style="text-align: center;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 150%; line-height: 116%;"><strong><span style="color: #000000;">Partie 2: Sanctions:</span></strong></span></span></div>
<p><br /><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;<span style="color: #000000;">Au sein de la Gendarmerie, aucune deuxi&egrave;me chance n&rsquo;est possible. Si un effectif prends un avertissement par le staff ou un sanction interne pour des raisons que nous prenons pour l&eacute;gitimes, la seule issue sera l&rsquo;exclusion d&eacute;finitive de l&rsquo;institution.</span><br />&nbsp;<span style="color: #000000;">Le RP Gendarmerie &agrave; des exigences particuli&egrave;res. </span><strong><span style="color: #000000;">Vous devez rester dans le r&ocirc;le d&rsquo;un Gendarme en toutes circonstances, avec les traits de votre personnages.</span></strong></span><br />&nbsp;</p>
<div class="text-center" style="text-align: center;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 150%; line-height: 116%;"><strong><span style="color: #000000;">Partie 3: Promotion, formations et grades.</span></strong></span></span></div>
<p><br /><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;1:</strong> </span><span style="color: #000000;">Les &Eacute;l&egrave;ves Gendarmes sont des joueurs nouvellement recrut&eacute;s et du fait de leur r&eacute;cente int&eacute;gration, aucun libert&eacute; d&rsquo;action ou autonomie ne leur est accord&eacute;e. Ils doivent toujours &ecirc;tre sous le commandement d&rsquo;un MDL-Chef ou +. Cela est fait pour qu&rsquo;ils apprennent le fonctionnement de la faction et pour ne pas prendre de mauvaises habitudes.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;2:</strong> </span><span style="color: #000000;">L&rsquo;avancement en grade se fait en fonction des formations effectu&eacute;es, des comp&eacute;tences, du comportement et de l&rsquo;investissement dans la faction. Le niveau de jeu n&rsquo;est pas un crit&egrave;re retenu pour l'&eacute;volution dans la faction, seul la volont&eacute; de progresser et le fait de convenir &agrave; nos attentes le sont.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;3:</strong> </span><span style="color: #000000;">Tout au long de la p&eacute;riode des classes (Grade El&egrave;ve Gendarme), vous serez &eacute;valu&eacute;. M&ecirc;me si votre niveau de jeu est faible, cela n&rsquo;est pas &eacute;liminatoire si vous avez envie de progresser et d'&eacute;voluer dans notre faction. En revanche, pendant cette p&eacute;riode, un mauvais comportement peut entra&icirc;ner l&rsquo;exclusion d&eacute;finitive de la faction.&nbsp;</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;4:</strong> </span><span style="color: #000000;">Les passations de grades s&rsquo;effectuent de mani&egrave;re pr&eacute;cises en fonction du niveau de qualification et des motivation du militaire. Les grades et m&eacute;dailles sont remis &agrave; date fixes, 2 fois par mois, g&eacute;n&eacute;ralement le samedi.</span></span><br />&nbsp;</p>
<div class="text-center" style="text-align: center;"><span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 150%; line-height: 116%;"><strong><span style="color: #000000;">Partie </span></strong></span></span> <span style="font-family: Arial,Helvetica,sans-serif;"><span style="font-size: 150%; line-height: 116%;"><strong><span style="color: #000000;">4: &Eacute;quipement et RP.</span></strong></span></span></div>
<p><br /><span style="font-family: Arial,Helvetica,sans-serif;">&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;1:</strong> </span><span style="color: #000000;">Afin d'&ecirc;tre identifiable en tout temps par tout le monde, les militaires de la Gendarmerie ont l&rsquo;obligation de porter l&rsquo;un des 5 uniformes de la Gendarmerie, ceux-ci sont dans les shops dans les brigades.&nbsp;</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;2:</strong> </span><span style="color: #000000;">Aucun autre &eacute;quipement que celui dans les shops n&rsquo;est autoris&eacute;. Un manquement &agrave; ce point peut entra&icirc;ner une sanction interne puis un renvoi d&eacute;finitif en cas de r&eacute;cidive.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;3:</strong> </span><span style="color: #000000;">Le gunfight n&rsquo;est pas une priorit&eacute;. Vous devez faire des sommation avant tout et essayer de n&eacute;gocier avec la partie adverse avant d&rsquo;engager un &eacute;ventuel combat.&nbsp;</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;4:</strong> </span><span style="color: #000000;">Si l&rsquo;adversaire ouvre le feu en premier, l&rsquo;utilisation de moyens de neutralisation l&eacute;taux sont autoris&eacute;s et nous consid&eacute;rons qu&rsquo;aucune n&eacute;gociation n&rsquo;est possible/voulue par l&rsquo;autre partie.</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;5:</strong> </span><span style="color: #000000;">L&rsquo;utilisation de la force l&eacute;tale est autoris&eacute;e sans sommations, mais uniquement dans le cas ou un civil est en danger de mort imminent (On d&eacute;fends le civil &agrave; sa place dans un situation ou il aurait le droit d&rsquo;utiliser ses armes).&nbsp;</span><br /><br />&nbsp;<span style="color: #000000;"><strong>R&egrave;gle n&deg;6:</strong> </span><span style="color: #000000;">Toute action pouvant mettre en p&eacute;ril la vie d&rsquo;un civil ou un agression est totalement interdite. Cependant si vous estimez pouvoir sauver la vie en agissant, agissez en votre pleine consciences des cons&eacute;quences.</span></span></p>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('reglement')
    });
</script> 

<% include footer %>