<% include header %>

<%
    var vehicles = locals.vehicles
%>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Parc véhicule</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Parc véhicule</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="row">
        <%
        var nbr = 0
        for(var k in vehicles){
            var vh = vehicles[k];
            var fuel = Math.round(vh.fuel * 100);
            var name = locals.config.vehicle.names[vh.classname];
            if(name == null){
                name = vh.classname;
            }
            if(vh.active == 1){
                var color = "#d62400";
            }else{
                var color = "#00d62e";
            }
            if(vh.fourriere == 1){
                var color2 = "#d62400";
            }else{
                var color2 = "#00d62e";
            }
            if(vh.insure == 0){
                var color3 = "#d62400";
            }else{
                var color3 = "#00d62e";
            }

            if (fuel > 70){
                var cc = "bg-success";
            }else if(fuel <= 70 && fuel >30){
                var cc = "bg-warning";
            }else{
                var cc = "bg-danger";
            }
            %>
                <div class="col-md-3">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <%= vh.type %>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12"><center><b><h4><%= name %></h4></b></center></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <center>
                                        <i class="fas fa-warehouse fa-2x" style="color: <%= color %>;"></i>
                                        <i class="fas fa-car-crash fa-2x" style="color: <%= color3 %>;"></i>
                                        <i class="fas fa-carrot fa-2x" style="color: <%= color2 %>;"></i>
                                    </center>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <center>
                                        <p><%= vh.immatriculation %></p>
                                    </center>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="progress mb-12">
                                        <div class="progress-bar <%= cc %>" role="progressbar" aria-valuenow="<%= fuel %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= fuel %>%">
                                            <span class="sr-only"><%= fuel %>% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            <%if(nbr == 4){%>
                </div>
                <div class="row">
            <%}
            nbr = nbr + 1
            %>

        <%}
        %>
        </div>


    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('vehicle')
    });
</script> 

<% include footer %>