<% include header %>

<%  
	var locsettings = JSON.parse( user.auth.settings );
%>
<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Rédaction d'un rapport</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Intranet</a></li>
						<li class="breadcrumb-item"><a href="/cgr/">C.G.R</a></li>
						<li class="breadcrumb-item active">Rédaction</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		
		<div class="row">
        	<div class="offset-lg-1 col-lg-10">
				<div class="card card-default">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-exclamation-triangle"></i>
							Rapport n°###
						</h3>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<form>
							
									<center><img style="width: 300px;" src="/assets/img/logo.png"></center><br>
									<p><i>A l’attention de l’Etat-Major de l'armée de Terre',<br>
						              A l’attention des Généraux d’Armée,<br>
						              A l’attention des Officiers supérieurs,<br>
						              A l’attention des Officiers subalternes,<br>
						              A l’attention des Sous-officiers supérieurs,<br>
						              A l’attention des Sous-officiers subalternes,<br>
						              S/C de la voie hiérarchique,</i><br>
						          	</p>
						          	<div class="row">
						          		<div class="form-group col-lg-2 offset-lg-10">
				                        	<input type="date" class="form-control" name="date" id="date">
				                		</div>
						          	</div>

						          	<p align="right">
										Base de l'armée de Terre<br>
						            	<%= user.auth.api.name %> - <%= locals.config.ranks[user.auth.api.adaclevel] %>
						          	</p>


						          	<br><br><br>
					          		<div class="form-group col-lg-6 offset-lg-3">
				                        <input type="text" class="form-control" name="title" id="title" placeholder="TYPE DE RAPPORT/COMPTE RENDU">
				                	</div>
						          	<br><br>

						          	<p>J’ai l’honneur de vous rendre compte des faits suivants:<br>

						              	<div class="form-group offset-lg-1 col-lg-10">
						              		<div id="toolbar-container">
												<span class="ql-formats">
													<select class="ql-font"></select>
													<select class="ql-size"></select>
												</span>
												<span class="ql-formats">
													<button class="ql-bold"></button>
													<button class="ql-italic"></button>
													<button class="ql-underline"></button>
													<button class="ql-strike"></button>
												</span>
												<span class="ql-formats">
													<select class="ql-color"></select>
													<select class="ql-background"></select>
												</span>
												<span class="ql-formats">
													<button class="ql-script" value="sub"></button>
													<button class="ql-script" value="super"></button>
												</span>
												<span class="ql-formats">
													<button class="ql-blockquote"></button>
													<button class="ql-code-block"></button>
												</span>
												<span class="ql-formats">
													<button class="ql-list" value="ordered"></button>
													<button class="ql-list" value="bullet"></button>
													<button class="ql-indent" value="-1"></button>
													<button class="ql-indent" value="+1"></button>
												</span>
												<span class="ql-formats">
													<button class="ql-direction" value="rtl"></button>
													<select class="ql-align"></select>
												</span>
												<span class="ql-formats">
													<button class="ql-link"></button>
													<button class="ql-image"></button>
													<button class="ql-video"></button>
													<button class="ql-formula"></button>
												</span>
												<span class="ql-formats">
													<button class="ql-clean"></button>
												</span>
											</div>
					                        <div id="editor" style="background-color: white;"></div>
					                    </div>

						              Veuillez agréer, Généraux, l'expression de mes considérations distinguées.<br><br>
						          	</p>

									<p align="right">
										<%= user.auth.api.name %> - <%= locals.config.ranks[user.auth.api.adaclevel] %>,<br>
										Base de l'armée de Terre
									</p>
						        </form>
				          	</div>
						</div>
					</div>
					<div class="card-footer" style="text-align: right;">
						<button class="btn btn-success" id="sendbutton">Envoyer</button>
					</div>
				</div>
			</div>
        </div>
	</section>
</div>
<!-- Main Quill library -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<script>
	var quill = new Quill('#editor', {
		modules: {
			syntax: true,
			toolbar: '#toolbar-container'
		},
		theme: 'snow'
	});



	document.addEventListener("DOMContentLoaded", function(event) {
		setActive('cgr')
		function post(path, params, method='post') {

			// The rest of this code assumes you are not using a library.
			// It can be made less wordy if you use one.
			const form = document.createElement('form');
			form.method = method;
			form.action = path;

			for (const key in params) {
				if (params.hasOwnProperty(key)) {
					const hiddenField = document.createElement('input');
					hiddenField.type = 'hidden';
					hiddenField.name = key;
					hiddenField.value = params[key];

					form.appendChild(hiddenField);
				}
			}

			document.body.appendChild(form);
			form.submit();
		}


		$("#sendbutton").click(function(){
			var title = $("#title").val();
			var content = quill.root.innerHTML;
			var date = $("#date").val();

			post('/cgr/add/', {title: title, content: content, date: date});
		}); 
	});
</script>

<% include footer %>

