<% include header %>

<%  
	var locsettings = JSON.parse( user.auth.settings );

	function formatDate(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
	}

	function formatDateno(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year;
	}

	function formatTime(date) { 
		return date.getHours() + "h" + date.getMinutes();
	}
%>
<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Centre de Gestion des Rapports</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Intranet</a></li>
						<li class="breadcrumb-item active">C.G.R</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="/cgr/create/" class="btn btn-primary btn-block mb-3">Nouveau rapport</a>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Dossiers</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="#" class="nav-link" id='reportsList'>
                    <i class="fas fa-inbox"></i> Liste des rapports
                    <span class="badge bg-primary float-right">0</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" id="myReports">
                    <i class="far fa-envelope"></i> Mes rapports
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" id="trash">
                    <i class="far fa-trash-alt"></i> Corbeille
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Liste des rapports</h3>

            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped" id="rapports">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 100px">Date</th>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th style="width: 200px">Aperçu</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        	<% 

                        	for( var k in locals.reportsList ){
                                var tbl = locals.reportsList[k];
                            %>
                            <tr class="reportsListcase">
                                <td><%= formatDateno(new Date(tbl.CGR_date)) %></td>
                                <td><a href="/cgr/view/<%= tbl.CGR_id %>"><%= tbl.CGR_title %></a></td>
                                <td><%= locals.config.ranks[tbl.grade] %> <%= tbl.name %></td>
                                <td class="content" data-target="<%= tbl.CGR_content.substring(0, 25); %>...">
                                    
                                </td>
                            </tr>  
                            <% } %>
                            <% 

                        	for( var k in locals.myReports ){
                                var tbl = locals.myReports[k];
                            %>
                            <tr class="myReportscase">
                                <td><%= formatDateno(new Date(tbl.CGR_date)) %></td>
                                <td><a href="/cgr/view/<%= tbl.CGR_id %>"><%= tbl.CGR_title %></a></td>
                                <td><%= locals.config.ranks[tbl.grade] %> <%= tbl.name %></td>
                                <td class="content" data-target="<%= tbl.CGR_content.substring(0, 25); %>...">
                                    
                                </td>
                            </tr>  
                            <% } %>
                            <% 

                        	for( var k in locals.trash ){
                                var tbl = locals.trash[k];
                            %>
                            <tr class="trashcase">
                                <td><%= formatDateno(new Date(tbl.CGR_date)) %></td>
                                <td><a href="/cgr/view/<%= tbl.CGR_id %>"><%= tbl.CGR_title %></a></td>
                                <td><%= locals.config.ranks[tbl.grade] %> <%= tbl.name %></td>
                                <td class="content" data-target="<%= tbl.CGR_content.substring(0, 25); %>...">
                                    
                                </td>
                            </tr>  
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		setActive('cgr')
		$('.myReportscase').hide();
		$('.trashcase').hide();

		$('#rapports').DataTable({
            "lengthChange": true,
            "searching": true,
            "pageLength": 25,
            "ordering": false,
        });

		$('#reportsList').on("click", () => {;
			$('.myReportscase').hide();
			$('.trashcase').hide();
			$('.reportsListcase').show();
		})

		$('#myReports').on("click", () => {
			$('.myReportscase').show();
			$('.trashcase').hide();
			$('.reportsListcase').hide();
		})

		$('#trash').on("click", () => {
			$('.myReportscase').hide();
			$('.trashcase').show();
			$('.reportsListcase').hide();
		})

        $('.content').html($(this).attr('data-target'));
        console.log($('.content').attr('data-target'));
	});
</script>  

<% include footer %>