<% include header %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>rapport n°###</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item"><a href="/">C.G.R</a></li>
                        <li class="breadcrumb-item active">Rapport n°###</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                Lecteur de rapport
              </h3>
            </div>
            <div class="card-body">
              <div class="offset-md-1 col-md-10">
                
              
              <center><img style="width: 300px;" src="/assets/img/logo.png"></center><br>

              <p><i>A l’attention de l’Etat-Major de l'armée de Terre,<br>
              A l’attention des Généraux d’Armée,<br>
              A l’attention des Officiers supérieurs,<br>
              A l’attention des Officiers subalternes,<br>
              A l’attention des Sous-officiers supérieurs,<br>
              A l’attention des Sous-officiers subalternes,<br>
              S/C de la voie hiérarchique,</i><br></p>

              <p align="right">Base de l'armée de Terre,<br>
                <%= locals.config.ranks[user.auth.api.adaclevel] %> <%= user.auth.api.name %></p>


              <br><br><br><center><h2><b><u><%= locals.rapport.CGR_title %></u></b></h2></center><br><br>

              <p>J’ai l’honneur de vous rendre compte des faits suivants:<br>

              <%- locals.rapport.CGR_content %>

              Veuillez agréer, Généraux, l'expression de mes considérations distinguées.<br><br></p>

              <p align="right"><%= locals.config.ranks[user.auth.api.adaclevel] %> <%= user.auth.api.name %>,<br>
              Base de l'armée de Terre</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        setActive('cgr')
    });
</script> 

<% include footer %>