<% include header %>

<%  
    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth() + 1;
        var year = date.getFullYear();
        
        return year + "-" + monthIndex + "-" + day;
    }
    function formatDateno(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth() + 1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year;
    }
    function formatTime(date) { 
        return date.getHours() + ":" + date.getMinutes();
    }

    var research =  [];
    for( var k in locals.peines ){
        var tbl = locals.peines[k];
        if (!research.includes(tbl.casiers_prenom + " " + tbl.casiers_nom)){
            research.push(tbl.casiers_prenom + " " + tbl.casiers_nom);
        }
    }
    research.sort();

%>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Interpol</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Interpol</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Interpol :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if( locals.peines.length > 0 ){ 
                            for (var w in research){
                                tbl = research[w];
                                %>
                                <div id="accordion">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h4 class="card-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= w %>">
                                                    <%= tbl %>
                                                  </a>
                                            </h4>
                                        </div>
                                        <div id="collapse<%= w %>" class="panel-collapse collapse in">
                                            <div class="card-body">
                                                <table class="table table-striped" id="peines">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th>Motif</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for( var k in locals.peines ){
                                                            var tbl2 = locals.peines[k];
                    
                                                            var created = formatDateno( new Date( tbl2.created_at ) );
                                                            if (tbl2.casiers_prenom + " " + tbl2.casiers_nom == tbl) {
                                                        %>
                                                        <tr>
                                                            <td><%= created %></td>
                                                            <td><%= locals.config.codetype[tbl2.code_type] %></td>
                                                            <td><%= tbl2.code_name %></td>
                                                        </tr>  
                                                        <% }} %>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div><%
                            }
                        %>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucune peine pour le moment.</h5>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {

        setActive('header-interpol')
    } );
</script>  

<% include footer %>