<% include header %>

<%
    var users = locals.users;
    
    console.log(users.length);
    var settings = JSON.parse( user.auth.settings );

    function formatDate(date) {
        var day = date.getDate();
        var monthIndex = date.getMonth()+1;
        var year = date.getFullYear();
        
        return day + "/" + monthIndex + "/" + year;
    }
%>

<div class="content-wrapper">
    
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Effectifs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Intranet</a></li>
                        <li class="breadcrumb-item active">Effectif</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-tasks"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">NOMBRES D EFFECTIFS</span>
                        <span class="info-box-number"><%= users.length %></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Liste des effectifs :
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="effectif">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th>Grade</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( var k in users ){
                                        var tbl = users[k];
                                        var created = formatDate( new Date( tbl.join_at ) );
                                    %>
                                    <tr>
                                        <td><%= tbl.name %></td>
                                        <td><%= locals.config.ranks[tbl.adaclevel] %></td>
                                        <td class="text-center">
                                            <a type="button" href="/users/profil/<%= tbl.id %>"><i class="fas fa-sign-in-alt"></i></a>
                                        </td>
                                    </tr>  
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('#effectif').DataTable({
            "lengthChange": true,
            "searching": true,
            "pageLength": 25,
        });  

        setActive('header-effectif')

        $('#adduserbutton').on('click', () => {
            $('#adduserform').submit();
        });
    } );
</script>  

<% include footer %>