<% include header %>

<%  
	var settings = JSON.parse( locals.profil.settings );
	var locsettings = JSON.parse( user.auth.settings );

	function formatDate(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year + " à " + date.getHours() + ":" + date.getMinutes();
	}

	function formatDateno(date) {
		var day = date.getDate();
		var monthIndex = date.getMonth() + 1;
		var year = date.getFullYear();
		
		return day + "/" + monthIndex + "/" + year;
	}

	function formatTime(date) { 
		return date.getHours() + "h" + date.getMinutes();
	}
%>
<div class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Profil</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Intranet</a></li>
						<li class="breadcrumb-item"><a href="/casiers/">Utilisateur</a></li>
						<li class="breadcrumb-item active"><%= locals.profil.name %></li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-md-6 ">
				<div class="card card-widget widget-user">
					<div class="widget-user-header bg-info">
						<h3 class="widget-user-username"><%= locals.profil.name %> <% if(locals.profil.admin){ %><span class="badge bg-danger">ADMIN</span><%}%></h3>
						<h5 class="widget-user-desc"><%= locals.config.ranks[locals.profil.grade] %></h5>
					</div>

					<div class="widget-user-image">
						<img class="img-circle elevation-2" src="/assets/img/<%= locals.profil.avatar  %>.png" alt="User Avatar">
					</div>

					<div class="card-footer">
						<div class="row">
							<div class="col-sm-4 border-right">
								<div class="description-block">
									<h5 class="description-header">rejoins le</h5>
									<span class="description-text"><%= formatDateno( new Date( locals.profil.join_at ) ); %></span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="description-block border-right">
									<h5 class="description-header">EM</h5>
									<span class="description-text">
										<%if (settings.EM){%>
                                            <span class="badge bg-danger">OUI</span>
                                        <%}else{%>
                                            <span class="badge bg-success">NON</span>
                                        <%}%>
									</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="description-block">
									<h5 class="description-header">Dernière connexion</h5>
									<span class="description-text"><%= formatDate( new Date( locals.profil.last_connection ) ); %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Rapports écrit :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if(true){ %>
                        <div class="table-responsive">
                            <table class="table table-striped" id="rapport">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Nom</th>
                                        <th>Destinataire</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucun rapport.</h5>
                        <% } %>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            Dernières prise de service :
                        </h3>
                    </div>
                    <div class="card-body">
                        <% if(true){ %>
                        <div class="table-responsive">
                            <table class="table table-striped" id="rapport">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Début</th>
                                        <th>Fin</th>
                                        <th>durée</th>
                                        <!--<th class="text-center">Actions</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                   <% for( var k in locals.pds ){
                                        var tbl = locals.pds[k];
                                        var date = formatDateno( new Date( tbl.PDS_date ) );
                                        var start = formatTime( new Date( tbl.PDS_start ) );
                                        var end = formatTime( new Date( tbl.PDS_end ) );
                                    %>
                                    <tr>
                                        <td><%= date %></td>
                                        <td><%= start %></td>
                                        <td><%= end %></td>
                                        <td class="text-center">
                                            <i class="fas fa-exclamation-triangle text-danger"></i>
                                        </td>
                                    </tr>  
                                    <% } %> 
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <h5 class="text-center">Il y a aucune prise de service.</h5>
                        <% } %>
                    </div>
                </div>
			</div>
			<div class="col-md-6">
				<% if(locsettings.perms.manageUser.changeName || locsettings.perms.manageUser.changePass || locsettings.perms.manageUser.changeJoinAt || locsettings.perms.manageUser.changeAvatar || locsettings.perms.manageUser.promote || locsettings.perms.manageUser.demote || locsettings.perms.manageUser.deleteUser){ %>
				<div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Modifier le profil
                        </h3>
                    </div>
                    <div class="card-body">
                    	<div class="row">
                    		<% if(locsettings.perms.manageUser.changeName){ %>
                    		<a class="btn btn-app">
								<i class="fas fa-file-signature"></i> Nom d'utilisateur
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.changePass){ %>
							<a class="btn btn-app">
								<i class="fas fa-key"></i> Mot de passe
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.changeJoinAt){ %>
							<a class="btn btn-app">
								<i class="fas fa-clock"></i> Date d'entrée
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.changeAvatar){ %>
							<a class="btn btn-app">
								<i class="fas fa-user-astronaut"></i> Avatar
							</a>
							<% } %>
                    	</div>
                    	<% if(locsettings.perms.manageUser.promote || locsettings.perms.manageUser.demote || locsettings.perms.manageUser.deleteUser){ %>
                    	<h4>Options dangeureuses</h4>
                    	<% } %>
                    	<div class="row">
                    		<% if(locsettings.perms.manageUser.promote && locals.config.ranks[locals.profil.grade + 1] != null){ %>
                    		<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/promote/">
								<i class="fas fa-arrow-up"></i> Promouvoir
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.demote && locals.profil.grade >= 1){ %>
							<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/demote/">
								<i class="fas fa-arrow-down"></i> Rétrograder
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.suspend && locals.profil.state != 2){ %>
							<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/suspend/2">
								<i class="fas fa-ban"></i> Suspendre
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.suspend && locals.profil.state == 2){ %>
							<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/suspend/1">
								<i class="fas fa-band-aid"></i> Révoquer la suspenssion
							</a>
							<% } %>
							<% if(locsettings.perms.manageUser.deleteUser){ %>
							<a class="btn btn-app">
								<i class="fas fa-user-times" data-toggle="modal" data-target="#deluser"></i> Supprimer l'utilisateur
							</a>

							<% } %>
							<% if(user.isAdmin() && !locals.profil.admin){ %>
							<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/admin/1">
								<i class="fas fa-user-shield"></i> Admin
							</a>
							<% } %>
							<% if(user.isAdmin() && locals.profil.admin){ %>
							<a class="btn btn-app" href="/users/profil/<%= locals.profil.id %>/admin/0">
								<i class="fas fa-user-slash"></i> Unadmin
							</a>
							<% } %>
                    	</div>
                    </div>
                </div>
                <% } %>

                <% if(locsettings.perms.manageUser.deleteUser){ %>
                	<div class="modal fade" id="deluser">
			            <div class="modal-dialog modal-lg">
			                <div class="modal-content">
			                    <div class="modal-header">
			                        <h4 class="modal-title">Etes-vous sûr ?</h4>
			                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                            <span aria-hidden="true">&times;</span>
			                        </button>
			                    </div>
			                    <div class="modal-body">
									<div class="alert alert-danger" role="alert">
										<h4 class="alert-heading">Attention !</h4>
										<p>Vous allez supprimer l'utilisateur <%= locals.profil.name %> de la base de donnée, soyez sûr de ce que vous entreprennez</p>
										<hr>
										<p class="mb-0">Cette action est irréversible et supprimmera toutes ses données.</p>
									</div>
									<div class="form-group">
										<div class="custom-control custom-switch">
											<input type="checkbox" class="custom-control-input" id="accept" name="accept">
											<label class="custom-control-label" for="accept">J'ai pris connaissance de l'avertissement et je souhaite continuer</label>
										</div>
									</div>
			                    </div>

			                    <div class="modal-footer justify-content-between">
			                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			                        <button type="button" id="acceptbutton" class="btn btn-primary" disabled>Supprimer</button>
			                    </div>
			                </div>
			            </div>
			        </div>
                <% } %>


                <% if(locsettings.perms.manageUser.changeperms){ %>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Options
                        </h3>
                    </div>
                    <div class="card-body">
                        <form action="/users/profil/<%= locals.profil.id %>/changeperms/" method="POST" id="updateSettings">
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="EM" name="EM" <% if(settings.EM){%> checked <%}%>>
									<label class="custom-control-label" for="EM">EM</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="tuto" name="tuto" <% if(settings.tuto){%> checked <%}%>>
									<label class="custom-control-label" for="tuto">Vidéo de présentation</label>
								</div>
							</div>
							<h3>Manage users</h3>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="changeName" name="changeName" <% if(settings.perms.manageUser.changeName){%> checked <%}%>>
									<label class="custom-control-label" for="changeName">Changer le nom</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="changePass" name="changePass" <% if(settings.perms.manageUser.changePass){%> checked <%}%>>
									<label class="custom-control-label" for="changePass">Changer le mot de passe</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="changeJoinAt" name="changeJoinAt" <% if(settings.perms.manageUser.changeJoinAt){%> checked <%}%>>
									<label class="custom-control-label" for="changeJoinAt">Changer la date d'entrée</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="changeAvatar" name="changeAvatar" <% if(settings.perms.manageUser.changeAvatar){%> checked <%}%>>
									<label class="custom-control-label" for="changeAvatar">Changer l'avatar</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="promote" name="promote" <% if(settings.perms.manageUser.promote){%> checked <%}%>>
									<label class="custom-control-label" for="promote">Autoriser à promouvoir</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="demote" name="demote" <% if(settings.perms.manageUser.demote){%> checked <%}%>>
									<label class="custom-control-label" for="demote">Autoriser à rétrograder</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="suspend" name="suspend" <% if(settings.perms.manageUser.suspend){%> checked <%}%>>
									<label class="custom-control-label" for="suspend">Autoriser à suspendre</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="changeperms" name="changeperms" <% if(settings.perms.manageUser.changeperms){%> checked <%}%>>
									<label class="custom-control-label" for="changeperms">Autoriser la modification des options</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="deleteUser" name="deleteUser" <% if(settings.perms.manageUser.deleteUser){%> checked <%}%>>
									<label class="custom-control-label" for="deleteUser">Suppression d'utilisateur</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="addUser" name="addUser" <% if(settings.perms.manageUser.addUser){%> checked <%}%>>
									<label class="custom-control-label" for="addUser">Ajout d'utilisateur</label>
								</div>
							</div>
							<h3>Gestion rapports</h3>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="editReport" name="editReport" <% if(settings.perms.manageRapport.editReport){%> checked <%}%>>
									<label class="custom-control-label" for="editReport">Modifier des rapports</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="deleteReport" name="deleteReport" <% if(settings.perms.manageRapport.deleteReport){%> checked <%}%>>
									<label class="custom-control-label" for="deleteReport">Supprimer des rapports</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="moveReport" name="moveReport" <% if(settings.perms.manageRapport.moveReport){%> checked <%}%>>
									<label class="custom-control-label" for="moveReport">Déplacer des rapports</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="ChangeDest" name="ChangeDest" <% if(settings.perms.manageRapport.ChangeDest){%> checked <%}%>>
									<label class="custom-control-label" for="ChangeDest">Changer les déstinataires</label>
								</div>
							</div>
                        </form>
                    </div>
                    <div class="card-footer">
						<a class="btn btn-success btn-sm btn-block" id="updateSettingsButton" role="button">Sauvegarder</a>
                    </div>
                </div>
                <% } %>
            </div>
		</div>
	</section>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		setActive('header-users')

		$('#rapport').DataTable({
            "lengthChange": false,
            "searching": false,
            "pageLength": 10,
        });  

		$('#updateSettingsButton').on('click', () => {
			$('#updateSettings').submit();
		});

		$('#accept').on('click', () => {
			if ($('#accept').is(':checked')) {
				$('#acceptbutton').prop('disabled', false);
			}else{
				$('#acceptbutton').prop('disabled', true);
			}
		});
		$('#acceptbutton').on('click', () => {
			if ($('#accept').is(':checked')) {
				window.location.href = "/users/profil/<%= locals.profil.id %>/delete/";
			}
		});

	});
</script>  

<% include footer %>